.Account-Wrapper{
 text-align : center;
 position : relative;
 height: 100%;
 width: 100%;
}
.Account-Header-Wrapper{
    display: flex;
    position: absolute;
}
.Account-Body{
    display: flex;
    flex-direction : row;
    justify-content: space-around;
    align-items : center;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.AddNewEventButtonWrapper{
    position: fixed;
}